.container {
  max-width: 1200px;
  border: 1px solid rgba(66, 86, 122);
  margin: 0 auto;
  min-height: 100vh; //100vh - то есть занимает всю высоту окна устройства(применяется при адаптиве)
  display: flex;
  justify-content: center;
  align-items: center;
}
