.horizontal-border {
  position: absolute;
  border: 1px solid;
  max-width: 1200px;
  width: 100%; //то есть занимает всю доступную ширину родительского контейнера(на мобильном устройстве ширина родительского контейнера меняется, поэтому он возьмет именно эту ширину)
  top: 50.5%;
  opacity: 10%;
}
