.historical-dates-border {
  position: absolute;
  border: 2px solid;
  border-image-source: linear-gradient(180deg, #3877ee -5%, #ef5da8 85%);
  border-image-slice: 1;
  height: 120px;
  top: 12%;
  left: 8.3%;

  @media (max-width: 1200px) {
    //до 1200px, потому что border отодвигается вперед больше 768px, поэтому выбрал этот диапазон
    left: 0;
  }
}

.text {
  position: absolute;
  top: 12%;
  left: 10%;
  font-size: 50px;
  font-weight: bold;
  width: 100px;

  @media (max-width: 670px) {
    font-size: 25px;
  }

  @media (max-width: 1200px) {
    left: 1.8%;
  }
}
