.bottom-container {
  width: 1200px;
  display: flex;
  .box3 {
    width: 600px;
    border: 1px solid rgba(66, 86, 122, 0.1);
    height: 393px;
    border-top: 0;
    border-left: 0;

    @media (max-width: 768px) {
      border: 0;
    }
  }
  .box4 {
    width: 600px;
    border: 1px solid rgba(66, 86, 122, 0.1);
    height: 393px;
    border-top: 0;
    border-right: 0;
    border-left: 0;

    @media (max-width: 768px) {
      border: 0;
    }
  }
}
